<?xml version="1.0" encoding="UTF-8"?>
<!--
  This file is part of NeptuneVanilla, licensed under the MIT License (MIT).

  Copyright (c) 2015-2016, Jamie Mansfield <https://github.com/jamierocks>

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in
  all copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  THE SOFTWARE.
-->
<Configuration status="WARN" packages="org.neptunepowered.vanilla.launch.console">
    <Appenders>
        <TerminalConsole name="Console">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%logger{1}/%level]: %msg%n"/>
        </TerminalConsole>

        <TerminalConsole name="MinecraftConsole">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level]: %msg%n"/>
        </TerminalConsole>

        <!-- Keep a console appender open so log4j2 doesn't close our main out stream if we redirect System.out to the logger -->
        <Console name="SysOut" target="SYSTEM_OUT"/>

        <RollingRandomAccessFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level] [%logger{1}]: %replace{%msg}{(?i)\u00A7[0-9A-FK-OR]}{}%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Logger name="net.minecraft" level="all" additivity="false">
            <filters>
                <MarkerFilter marker="NETWORK_PACKETS" onMatch="DENY" onMismatch="NEUTRAL"/>
            </filters>
            <AppenderRef ref="MinecraftConsole" level="info"/>
            <AppenderRef ref="File"/>
        </Logger>

        <Logger name="com.mojang" level="all" additivity="false">
            <AppenderRef ref="MinecraftConsole" level="info"/>
            <AppenderRef ref="File"/>
        </Logger>

        <Root level="all">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
